# SPDX-FileCopyrightText: 2022 Vasco Dias <m+git@vascorsd.com>
#
# SPDX-License-Identifier: CC0-1.0

# ides, editors
.idea/
.vscode/
.metals/

# build tooling
.bloop/
.bsp/
metals.sbt

# general build artifacts
project/project/
target/
.target/
build/
out/

